-- Enable UUID extension
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

-- Table: organizations
CREATE TABLE organizations (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    subdomain TEXT NOT NULL UNIQUE,
    timezone TEXT NOT NULL DEFAULT 'UTC',
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- Table: organization_users
CREATE TABLE organization_users (
    user_id UUID NOT NULL, -- references auth.users(id) in actual supabase
    organization_id UUID NOT NULL REFERENCES organizations(id) ON DELETE CASCADE,
    role TEXT NOT NULL CHECK (role IN ('admin', 'digitador')),
    status TEXT NOT NULL DEFAULT 'active',
    PRIMARY KEY (user_id, organization_id)
);

-- Table: folio_usage_logs
CREATE TABLE folio_usage_logs (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    organization_id UUID NOT NULL REFERENCES organizations(id) ON DELETE CASCADE,
    date_recorded DATE NOT NULL DEFAULT CURRENT_DATE,
    folios_count INTEGER NOT NULL DEFAULT 0,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- Row Level Security
ALTER TABLE organizations ENABLE ROW LEVEL SECURITY;
ALTER TABLE organization_users ENABLE ROW LEVEL SECURITY;
ALTER TABLE folio_usage_logs ENABLE ROW LEVEL SECURITY;

-- Helper function to check if a user belongs to an organization
CREATE OR REPLACE FUNCTION user_belongs_to_organization(org_id UUID)
RETURNS BOOLEAN AS $$
BEGIN
  RETURN EXISTS (
    SELECT 1 FROM organization_users
    WHERE organization_users.organization_id = org_id
    AND organization_users.user_id = auth.uid()
  );
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Policies for organizations
CREATE POLICY "Users can view their own organizations"
    ON organizations FOR SELECT
    USING (user_belongs_to_organization(id));

-- Policies for organization_users
CREATE POLICY "Users can view members of their organizations"
    ON organization_users FOR SELECT
    USING (user_belongs_to_organization(organization_id) OR user_id = auth.uid());

-- Policies for folio_usage_logs
CREATE POLICY "Users can view usage logs of their organizations"
    ON folio_usage_logs FOR SELECT
    USING (user_belongs_to_organization(organization_id));

CREATE POLICY "Users can insert usage logs of their organizations"
    ON folio_usage_logs FOR INSERT
    WITH CHECK (user_belongs_to_organization(organization_id));

CREATE POLICY "Users can update usage logs of their organizations"
    ON folio_usage_logs FOR UPDATE
    USING (user_belongs_to_organization(organization_id))
    WITH CHECK (user_belongs_to_organization(organization_id));
-- Migration 004: Export API Keys and Quotas

-- 1. Create api_keys table
CREATE TABLE IF NOT EXISTS public.api_keys (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    tenant_id UUID UNIQUE NOT NULL,
    hashed_key TEXT NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

ALTER TABLE public.api_keys ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Admins can view api keys" 
    ON public.api_keys 
    FOR SELECT 
    USING (
        EXISTS (
            SELECT 1 FROM public.user_profiles
            WHERE user_profiles.tenant_id = api_keys.tenant_id
            AND user_profiles.user_id = auth.uid()
            AND user_profiles.role = 'admin'
        )
    );

-- 2. Create tenant_quotas table
CREATE TABLE IF NOT EXISTS public.tenant_quotas (
    tenant_id UUID PRIMARY KEY,
    weekly_limit INT NOT NULL DEFAULT 1000,
    used_this_week INT NOT NULL DEFAULT 0,
    reset_date TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT (timezone('utc'::text, now()) + interval '7 days')
);

ALTER TABLE public.tenant_quotas ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Tenant users can view quotas" 
    ON public.tenant_quotas 
    FOR SELECT 
    USING (
        EXISTS (
            SELECT 1 FROM public.user_profiles
            WHERE user_profiles.tenant_id = tenant_quotas.tenant_id
            AND user_profiles.user_id = auth.uid()
        )
    );

-- 3. Performance indices on folios
ALTER TABLE public.folios ADD COLUMN IF NOT EXISTS verified_at TIMESTAMP WITH TIME ZONE;
ALTER TABLE public.folios ADD COLUMN IF NOT EXISTS tenant_id UUID;
ALTER TABLE public.folios ADD COLUMN IF NOT EXISTS batch_id UUID;

CREATE INDEX IF NOT EXISTS idx_folios_tenant_verified ON public.folios(tenant_id, verified_at);
CREATE INDEX IF NOT EXISTS idx_folios_batch_id ON public.folios(batch_id);
-- Migration: Configurar rol y esquema Base de Datos (T1)

-- 1. Modificar el ENUM user_role para aÃ±adir 'superadmin'
ALTER TYPE user_role ADD VALUE IF NOT EXISTS 'superadmin';

-- 2. Crear tabla tenants
CREATE TABLE IF NOT EXISTS tenants (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    name TEXT NOT NULL,
    created_at TIMESTAMPTZ DEFAULT NOW()
);

-- 3. Asegurar que la tabla tenant_quotas tenga la foreign key a tenants
ALTER TABLE tenant_quotas ADD COLUMN IF NOT EXISTS tenant_id UUID;
ALTER TABLE tenant_quotas DROP CONSTRAINT IF EXISTS fk_tenant_quotas_tenant_id;
ALTER TABLE tenant_quotas ADD CONSTRAINT fk_tenant_quotas_tenant_id FOREIGN KEY (tenant_id) REFERENCES tenants(id) ON DELETE CASCADE;

-- 4. Modificar user_profiles para referenciar a tenants
ALTER TABLE user_profiles ADD COLUMN IF NOT EXISTS tenant_id UUID;
ALTER TABLE user_profiles DROP CONSTRAINT IF EXISTS fk_user_profiles_tenant_id;
ALTER TABLE user_profiles ADD CONSTRAINT fk_user_profiles_tenant_id FOREIGN KEY (tenant_id) REFERENCES tenants(id) ON DELETE SET NULL;
ALTER TABLE user_profiles ALTER COLUMN tenant_id DROP NOT NULL;
CREATE TYPE batch_status AS ENUM ('pending', 'processing', 'ready', 'failed');
CREATE TYPE folio_status AS ENUM ('pending', 'processing', 'revision', 'completed', 'failed');

CREATE TABLE public.templates (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    tenant_id UUID NOT NULL, -- Assuming tenants table exists
    name TEXT NOT NULL,
    schema JSONB NOT NULL DEFAULT '{}',
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE TABLE public.batches (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    tenant_id UUID NOT NULL,
    template_id UUID NOT NULL REFERENCES public.templates(id) ON DELETE CASCADE,
    uploaded_by UUID NOT NULL, -- Assuming users table or auth.users
    status batch_status NOT NULL DEFAULT 'pending',
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE TABLE public.folios (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    tenant_id UUID NOT NULL,
    batch_id UUID NOT NULL REFERENCES public.batches(id) ON DELETE CASCADE,
    status folio_status NOT NULL DEFAULT 'pending',
    metadata JSONB,
    r2_url TEXT,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- RLS Configuration
ALTER TABLE public.templates ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.batches ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.folios ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Tenant isolation for templates" 
ON public.templates FOR ALL TO authenticated
USING (tenant_id = (SELECT tenant_id FROM public.users WHERE id = auth.uid()));

CREATE POLICY "Tenant isolation for batches" 
ON public.batches FOR ALL TO authenticated
USING (tenant_id = (SELECT tenant_id FROM public.users WHERE id = auth.uid()));

-- For folios, Admins/Digitadors can access all folios in the tenant.
-- Archivistas can only access folios if they uploaded the batch.
CREATE POLICY "Tenant isolation for folios" 
ON public.folios FOR ALL TO authenticated
USING (
    tenant_id = (SELECT tenant_id FROM public.users WHERE id = auth.uid())
    AND (
        (SELECT role FROM public.users WHERE id = auth.uid()) != 'archivista'
        OR batch_id IN (SELECT id FROM public.batches WHERE uploaded_by = auth.uid())
    )
);
ALTER TABLE folios
ADD COLUMN ai_predictions JSONB DEFAULT '{}'::jsonb;
CREATE TABLE training_data (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    tenant_id UUID NOT NULL,
    folio_id UUID NOT NULL,
    field_name TEXT NOT NULL,
    predicted_value TEXT,
    actual_value TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

ALTER TABLE training_data ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Enable read access for users in the same tenant"
ON training_data
FOR SELECT
USING (
    tenant_id IN (
        SELECT tenant_id FROM users WHERE id = auth.uid()
    )
);

CREATE POLICY "Enable insert access for users in the same tenant"
ON training_data
FOR INSERT
WITH CHECK (
    tenant_id IN (
        SELECT tenant_id FROM users WHERE id = auth.uid()
    )
);
-- Create ENUM for roles
CREATE TYPE user_role AS ENUM ('admin', 'archivist', 'digitizer');

-- Create user_profiles table
CREATE TABLE user_profiles (
  user_id UUID REFERENCES auth.users(id) PRIMARY KEY,
  tenant_id UUID NOT NULL,
  role user_role NOT NULL
);

-- Enable RLS on user_profiles
ALTER TABLE user_profiles ENABLE ROW LEVEL SECURITY;

-- Helper function to get current user's role
CREATE OR REPLACE FUNCTION public.get_user_role() RETURNS user_role AS $$
  SELECT role FROM public.user_profiles WHERE user_id = auth.uid();
$$ LANGUAGE sql SECURITY DEFINER STABLE;

-- Helper function to get current user's tenant_id
CREATE OR REPLACE FUNCTION public.get_user_tenant() RETURNS UUID AS $$
  SELECT tenant_id FROM public.user_profiles WHERE user_id = auth.uid();
$$ LANGUAGE sql SECURITY DEFINER STABLE;

-- Enable RLS on folios and batches if not already enabled
-- ALTER TABLE folios ENABLE ROW LEVEL SECURITY;
-- ALTER TABLE batches ENABLE ROW LEVEL SECURITY;

-- RLS for folios
CREATE POLICY folios_admin_policy ON public.folios
  FOR ALL
  USING (get_user_role() = 'admin' AND tenant_id = get_user_tenant());

CREATE POLICY folios_digitizer_select_policy ON public.folios
  FOR SELECT
  USING (
    get_user_role() = 'digitizer' 
    AND tenant_id = get_user_tenant() 
    AND (assigned_to = auth.uid() OR status = 'pending')
  );

CREATE POLICY folios_archivist_select_policy ON public.folios
  FOR SELECT
  USING (
    get_user_role() = 'archivist' 
    AND tenant_id = get_user_tenant() 
    AND status = 'doubtful' 
    AND uploaded_by = auth.uid()
  );

-- RLS for batches
CREATE POLICY batches_admin_policy ON public.batches
  FOR ALL
  USING (get_user_role() = 'admin' AND tenant_id = get_user_tenant());

CREATE POLICY batches_archivist_insert_policy ON public.batches
  FOR INSERT
  WITH CHECK (
    get_user_role() = 'archivist' 
    AND tenant_id = get_user_tenant() 
    AND uploaded_by = auth.uid()
  );

CREATE POLICY batches_archivist_select_policy ON public.batches
  FOR SELECT
  USING (
    get_user_role() = 'archivist' 
    AND tenant_id = get_user_tenant() 
    AND uploaded_by = auth.uid()
  );
-- FunciÃ³n helper para verificar superadmin sin causar recursividad infinita en RLS
CREATE OR REPLACE FUNCTION public.is_superadmin()
RETURNS boolean AS $$
BEGIN
  RETURN EXISTS (
    SELECT 1 FROM public.user_profiles
    WHERE user_id = auth.uid() AND role = 'superadmin'
  );
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- tenants
ALTER TABLE public.tenants ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "superadmin_all_tenants" ON public.tenants;
CREATE POLICY "superadmin_all_tenants" ON public.tenants
  FOR ALL
  TO authenticated
  USING (public.is_superadmin())
  WITH CHECK (public.is_superadmin());

-- tenant_quotas
ALTER TABLE public.tenant_quotas ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "superadmin_all_tenant_quotas" ON public.tenant_quotas;
CREATE POLICY "superadmin_all_tenant_quotas" ON public.tenant_quotas
  FOR ALL
  TO authenticated
  USING (public.is_superadmin())
  WITH CHECK (public.is_superadmin());

-- user_profiles
ALTER TABLE public.user_profiles ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "superadmin_all_user_profiles" ON public.user_profiles;
CREATE POLICY "superadmin_all_user_profiles" ON public.user_profiles
  FOR ALL
  TO authenticated
  USING (public.is_superadmin())
  WITH CHECK (public.is_superadmin());

-- folios
ALTER TABLE public.folios ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "superadmin_all_folios" ON public.folios;
CREATE POLICY "superadmin_all_folios" ON public.folios
  FOR ALL
  TO authenticated
  USING (public.is_superadmin())
  WITH CHECK (public.is_superadmin());

-- batches
ALTER TABLE public.batches ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "superadmin_all_batches" ON public.batches;
CREATE POLICY "superadmin_all_batches" ON public.batches
  FOR ALL
  TO authenticated
  USING (public.is_superadmin())
  WITH CHECK (public.is_superadmin());
-- Migration: Bootstrapping Trigger (T3)
-- This trigger executes AFTER INSERT ON auth.users.
-- If user_profiles is empty, it assigns the 'superadmin' role to the first user created,
-- with tenant_id set to NULL.

CREATE OR REPLACE FUNCTION public.handle_new_user_bootstrapping()
RETURNS TRIGGER AS $$
DECLARE
  profile_count INT;
BEGIN
  -- Count existing profiles
  SELECT COUNT(*) INTO profile_count FROM public.user_profiles;
  
  -- If this is the very first user, make them a superadmin
  IF profile_count = 0 THEN
    INSERT INTO public.user_profiles (user_id, role, tenant_id)
    VALUES (NEW.id, 'superadmin'::public.user_role, NULL);
  END IF;
  
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Create the trigger on auth.users
DROP TRIGGER IF EXISTS on_auth_user_created_bootstrapping ON auth.users;
CREATE TRIGGER on_auth_user_created_bootstrapping
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE FUNCTION public.handle_new_user_bootstrapping();
